/* menu & menu links for FF & Opera */
	a.menu_category_link:link, a.menu_category_link:active, a.menu_category_link:visited, a.menu_category_link:hover, .menu_category   {
		font-family:		Arial, Helvetica, sans-serif;
		font-size: 			small;

	}
	a.menu_category_link:link, a.menu_category_link:active, a.menu_category_link:visited {
		color:				#800000;
		font-weight: 		bold; 
		text-decoration: 	none; 
	} 
	a.menu_category_link:hover {
		color:				#FF0000; 
		font-weight: 		bold; 
		text-decoration: 	none; 
	}
	.menu_category {
		cursor:				pointer;
		color:				#800000;
		border-bottom:	solid 1px #800000; 
		font-weight: 		bold; 
		width: 				90%;
		padding:				4px;
		padding-left:		8px;
		margin-bottom:	2px;
	} 


	a.menu_subcategory_link:link, a.menu_subcategory_link:active, a.menu_subcategory_link:visited, .menu_subcategory, a.menu_subcat_detail_link {
		font-family:		Arial, Helvetica, sans-serif;
		font-size: 			small;
	}
	a.menu_subcategory_link:link, a.menu_subcategory_link:active, a.menu_subcategory_link:visited {
		color:				#800000; 
		font-weight: 		normal; 
		text-decoration: 	none; 
	} 
	a.menu_subcategory_link:hover {
		color:				#FF0000; 
		font-weight: 		normal; 
		text-decoration: 	none; 
	}
	.menu_subcategory {
		font-weight: 		normal; 
		text-decoration: 	none; 
		width: 				90%;
		padding:				4px;
		padding-left:		16px;
	} 
	
	
	a.menu_subcat_detail_link:link, a.menu_subcat_detail_link:active, a.menu_subcat_detail_link:visited {
		color:				#800000; 
		font-weight: 		normal; 
		text-decoration: 	none; 
	} 
	a.menu_subcat_detail_link:hover {
		color:				#FF0000; 
		font-weight: 		normal; 
		text-decoration: 	none; 
	}
	.menu_subcat_detail_link{
		font-weight: 		normal; 
		text-decoration: 	none; 
		width: 				90%;
		padding:				4px;
		padding-left:		18px;
	} 